.label {
    font-size: 15px;
    vertical-align: middle;
}

.btn-primary {
    font-size: 15px;
}

.liberapay {
    font-size: 15px;
    background-color: #f6c915;
    color: black;
}

.title {
    text-align: center;
    font-weight: bold;
}