.value {
    font-size: 30px;
    color:white;
    text-align: center;
    vertical-align: middle;
}

.label {
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
}

.link-description {
    font-size: 15px;
    vertical-align: middle;
    text-align: right;
}

.amz-label {
    font-size: 15px;
    vertical-align: middle;
}

.title {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    padding-top: 60px;
}