.value {
    font-size: 45px;
    text-align: center;
    vertical-align: bottom;
}

.weather-value {
    font-size: 45px;
    text-align: center;
    vertical-align: bottom;
    margin-right: 15px;
    padding-bottom: 25px;
}

.temperature-value {
    font-size: 25px;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 25px;
}

.label {
    text-align: center;
    vertical-align: top;
}

.restoreDialogOpen .content {
    opacity: 0.2;
}

.restoreDialogOpen .restore-dialog-wrapper {
    visibility: visible;
}

.restore-dialog-wrapper {
    visibility: collapse;
}

.stopDialogOpen .content {
    opacity: 0.2;
}

.stopDialogOpen .stop-dialog-wrapper {
    visibility: visible;
}

.stop-dialog-wrapper {
    visibility: collapse;
}