.label {
    vertical-align: middle;
    font-size: 15;
    text-transform: uppercase;
}

.action {
    vertical-align: middle;
    text-align: right;
    padding-right: 30px;
    //padding-top: 5px;
    font-size: 25;
}