<ActionBar android.icon="res://icon" android.iconVisibility="always">
    <Label text="{{'SETTINGS'|L}}"></Label>
</ActionBar>

<GridLayout class="page" [class.backupRestoreTracksDialogOpen]="backupRestoreTracksDialogOpen">
    <ScrollView class="content">
        <GridLayout rows="40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40,40" columns="*,78">
            <Label row="0" column="0" text="{{'Support Us'|L}}" class="label" [nsRouterLink]="[ '../support-us']"></Label>
            <Label row="0" column="1" class="fas action" text="&#xf054; " [nsRouterLink]="[ '../support-us']"></Label>

            <Label row="1" column="0" text="{{'Heart Rate Device'|L}}" class="label" [nsRouterLink]="[ '../heart-rate']" (tap)="startHeartRate()"></Label>
            <Label row="1" column="1" class="fas action" text="&#xf054; " [nsRouterLink]="[ '../heart-rate']" (tap)="startHeartRate() "></Label>

            <Label row="2" column="0" text="{{'CADENCE DEVICE'|L}}" class="label" [nsRouterLink]="[ '../cadence']" (tap)="startCadence()"></Label>
            <Label row="2" column="1" class="fas action" text="&#xf054; " [nsRouterLink]="[ '../cadence']" (tap)="startCadence() "></Label>

            <Label row="3" column="0" text="{{'Credits'|L}}" class="label" [nsRouterLink]="[ '../credits']"></Label>
            <Label row="3" column="1" class="fas action" text="&#xf054; " [nsRouterLink]="[ '../credits']"></Label>

            <!--
            <Label row="3" column="0" text="{{'Auto Start Stop'|L}}" class="label"></Label>
            <Switch row="3" column="1" checked="{{automaticStartStop}}" (checkedChange)="onStartStopCheckedChange($event)" class="action"></Switch>
            -->

            <Label row="4" column="0" text="{{'Display Always On'|L}}" class="label"></Label>
            <Switch row="4" column="1" checked="{{displayAlwaysOn}}" (checkedChange)="onDisplayAlwaysOnCheckedChange($event)" class="action"></Switch>

            <Label row="5" column="0" text="{{'Debug Trace'|L}}" class="label"></Label>
            <Switch row="5" column="1" checked="{{debugTrace}}" (checkedChange)="onDebugTraceCheckedChange($event)" class="action"></Switch>

            <Label row="6" column="0" text="{{'Countdown'|L}}" class="label"></Label>
            <Switch row="6" column="1" checked="{{countdown}}" (checkedChange)="onCountdownCheckedChange($event)" class="action"></Switch>

            <Label row="7" column="0" text="{{'GPS High Accuracy'|L}}" class="label"></Label>
            <Switch row="7" column="1" checked="{{highGPSAccuracy}}" (checkedChange)="onHighGPSAccuracyCheckedChange($event)" class="action"></Switch>

            <Label row="8" column="0" text="{{'GPS Update Distance [mt]'|L}}" class="label"></Label>
            <TextField row="8" column="1" [text]="gpsUpdateDistanceMt" keyboardType="number" returnKeyType="done" (returnPress)="onGPSUpdateDistanceMtReturnPress($event)" (blur)="onGPSUpdateDistanceMtReturnPress($event)" maxLength="2">
            </TextField>

            <Label row="9" column="0" text="{{'GPS Update Time [sec]'|L}}" class="label"></Label>
            <TextField row="9" column="1" [text]="gpsUpdateTimeSec" keyboardType="number" returnKeyType="done" (returnPress)="onGPSUpdateTimeSecReturnPress($event)" (blur)="onGPSUpdateTimeSecReturnPress($event)" maxLength="2">
            </TextField>

            <Label row="10" column="0" text="{{'GPS Minimum Update Time [sec]'|L}}" class="label"></Label>
            <TextField row="10" column="1" [text]="gpsMinimumUpdateTimeSec" keyboardType="number" returnKeyType="done" (returnPress)="onGPSMinimumUpdateTimeSecReturnPress($event)" (blur)="onGPSMinimumUpdateTimeSecReturnPress($event)" maxLength="2">
            </TextField>

            <Label row="11" column="0" text="{{'Voice Summary Interval [min]'|L}}" class="label"></Label>
            <TextField row="11" column="1" [text]="voiceSummaryTimeIntervalMin" keyboardType="number" returnKeyType="done" (returnPress)="onVoiceSummaryTimeIntervalMinReturnPress($event)" (blur)="onVoiceSummaryTimeIntervalMinReturnPress($event)" maxLength="2">
            </TextField>

            <Label row="12" column="0" text="{{'Application Version Name'|L}}" class="label"></Label>
            <Label row="12" column="1" class="label" [text]="appVersionName"></Label>

            <Label row="13" column="0" text="{{'Voice Summary Interval [min]'|L}}" class="label"></Label>
            <TextField row="13" column="1" [text]="voiceSummaryTimeIntervalMin" keyboardType="number" returnKeyType="done" (returnPress)="onVoiceSummaryTimeIntervalMinReturnPress($event)" (blur)="onVoiceSummaryTimeIntervalMinReturnPress($event)">
            </TextField>

            <Label row="14" column="0" colSpan="2" textAlignment="center"  text="{{'AWS Backup Restore Endpoint Prefix'|L}}" class="label"></Label>
            
            <TextField row="15" column="0" colSpan="2" [text]="AWS_BACKUP_RESTORE_ENDPOINT_PREFIX" returnKeyType="done" (returnPress)="onAWS_BACKUP_RESTORE_ENDPOINT_PREFIXReturnPress($event)" (blur)="onAWS_BACKUP_RESTORE_ENDPOINT_PREFIXReturnPress($event)">
            </TextField>

            <Label row="16" column="0" colSpan="2" textAlignment="center"  text="{{'AWS Backup Restore Endpoint API KEY'|L}}" class="label"></Label>
            
            <TextField row="17" column="0" colSpan="2" [text]="AWS_BACKUP_RESTORE_API_KEY" returnKeyType="done" (returnPress)="onAWS_BACKUP_RESTORE_API_KEYReturnPress($event)" (blur)="onAWS_BACKUP_RESTORE_API_KEYReturnPress($event)">
            </TextField>

            <Label row="18" column="0" colSpan="2" textAlignment="center" text="{{'AWS Backup Restore Endpoint Region'|L}}" class="label"></Label>
            
            <TextField row="19" column="0" colSpan="2" [text]="AWS_BACKUP_RESTORE_REGION" returnKeyType="done" (returnPress)="onAWS_BACKUP_RESTORE_REGIONReturnPress($event)" (blur)="onAWS_BACKUP_RESTORE_REGIONReturnPress($event)">
            </TextField>

            <Button row="20" column="0" colSpan="2" text="{{'BACKUP'|L}}" (tap)="backup()"></Button>
            <Button row="21" column="0" colSpan="2" text="{{'RESTORE'|L}}" (tap)="restore()"></Button>

        </GridLayout>
    </ScrollView>

    <ActivityIndicator [busy]="busy" width="100" height="100"></ActivityIndicator>

    <AbsoluteLayout class="backup-restore-tracks-dialog-wrapper">
        <StackLayout class="dialog">
            <Label textAlignment="center" textWrap="true" text="{{message|L}}"></Label>
            <Button class="btn" text="{{'CLOSE'|L}}" (tap)="closeBackupRestoreTracksDialogOpen()"></Button>
        </StackLayout>
    </AbsoluteLayout>

</GridLayout>