.label {
    vertical-align: middle;
    font-size: 15;
    text-transform: uppercase;
}

.action {
    vertical-align: middle;
    text-align: right;
    padding-right: 30px;
    //padding-top: 5px;
    font-size: 25;
}

.backupRestoreTracksDialogOpen .content {
    opacity: 0.2;
}

.backupRestoreTracksDialogOpen .backup-restore-tracks-dialog-wrapper {
    visibility: visible;
}

.backup-restore-tracks-dialog-wrapper {
    visibility: collapse;
}
